html, body {
  height: 100% !important;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.fixed-bar {
  position: fixed;
  width: 100%;

  #search-bar {
    a {
      color: #fff;
    }

    .row {
      .form-group {
        width: 100%;
      }

      input {
        width: 65%;
        border-color: @red;
        border-radius: 3px 0 0 3px;
        margin:0;
      }

      .btn-red {
        background-color: @red;
        border:0;
        height: 34px;
      }

      .price-range {
        width : 90px;
        height: 34px;
        color: #6E2F41;
        padding: 0 10px;
        background: #fff;
        border: 1px solid;
        text-align: center;
        border-color: @red;
        border-radius: 0px;
      }

      .right-align {
        margin-right: 40px;
      }
    }
  }
}
#main-content {
  padding-top: 70px;
}
