<!-- double <body> tag FTW -->
<div id="brussels">
  <div class="page-center">
    <h1>Where your new flat should be located? </h1>
    <form id="form-warpper" action="search" method="post">
      <input name="neighborhood" class="search-bar" type="text" placeholder="Ixelles, Etterbeek, Parc de Laeken, ..." required><button class="small" type="submit">Search</button>
    </form>
  </div>
  <script src="javascripts/vendor/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</div>
